body {
  font-family: "Raleway";
  font-size: 1.125rem;
  color: $black;
  line-height: 21px;
  background-color: antiquewhite;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
