.our-favorites {
  padding-bottom: 142px;
  padding-top: 119px;

  @media (max-width: 1126px) {
    .our-favorites__content {
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 15px;
    }
  }

  @media (max-width: 567px) {
    .our-favorites__content {
      flex-direction: column;
      align-items: center;
    }
  }
}

.our-favorites__title {
  text-align: center;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  color: #212a2f;
  margin-bottom: 32px;
}

.our-favorites__heading {
  display: flex;
  justify-content: center;
}

.our-favorites__heading a {
  text-decoration: none;
}

.our-favorites__separator {
  display: block;
  max-width: 100%;
  height: 2px;
  background-color: #d3d4d5;
  margin-bottom: 34px;
}

.heading {
  margin-right: 132px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212a2f;
  margin-bottom: 12px;
}

.heading:last-child {
  margin-right: 0;
}

.content__btn {
  display: inline-block;
  margin-bottom: 12px;
  border: none;
  color: #212a2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: (17px 93px 15px 94px);
}

.content-block__img {
  position: relative;
}

.content-block__img img {
  width: 100%;
}

.content-block__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content__btn:last-child {
  margin-bottom: 0;
}

.content-block__subtitle {
  color: #212a2f;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 10px;
}

.content-block__separator {
  display: block;
  max-width: 336px;
  height: 1px;
  background-color: #d3d4d5;
  margin-bottom: 16px;
}

.content-block__info {
  display: flex;
  align-items: center;
}

.content-block__icon {
  margin-right: 12px;
  width: 30px;
  height: 30px;
}

.content-block__icon img {
  width: 100%;
}

.content-block__item {
  display: block;
  color: #212a2f;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.our-favorites__content {
  display: flex;
}

.our-favorites__content-block {
  margin-right: 24px;
  width: 33.333%;
}

.our-favorites__content-block:last-child {
  margin-right: 0;
}

.content-block__desc {
  padding-left: 20px;
}
