.input-field {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 50%;
}

.input-wrapper {
  display: flex;
}

.input-field__item input {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 16px;
  color: #bdbdbd;
  width: 100%;
}

.input-field__item {
  margin-bottom: 85px;
}

.input-field__item:last-child {
  margin-bottom: 0;
}

.input-message textarea {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 16px;
  color: #bdbdbd;
  width: 100%;
  height: 100%;
}

.input-wrapper {
  margin-bottom: 50px;
}

button {
  background-color: #ec7979;
  border: none;
  color: white;
  width: 370px;
  height: 58px;
  margin: 0 auto;
  display: block;
}

.input-message {
  width: 50%;
}
