.commercial-info__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 54px;
  text-align: center;
}

.commercial-info__subtitle {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.commercial-info__btn {
  background-color: #212a2f;
  border: none;
  width: 180px;
  height: 48px;
  color: white;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-right: 24px;
}

.commercial-info__btn:last-child {
  margin-right: 0;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 119px;
}

.catalogue__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 24px;
}

.catalogue__img {
  margin-bottom: 17px;
}

.catalogue__img img {
  width: 100%;
}

.catalogue__name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 10px;
  padding: 0 15px;
}

.catalogue__desc {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0 15px;
  max-width: 358px;
}

.catalogue-wrap {
  display: flex;
  justify-content: space-between;
}

.catalogue {
  padding-bottom: 134px;
}

.catalogue-item {
  margin-right: 24px;
}

.catalogue-item:last-child {
  margin-right: 0;
}
