body {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  color: #6c7279;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.download {
  text-align: center;
  padding-bottom: 114px;

  @media (max-width: 1120px) {
    .download__title {
      font-size: 1.5rem;
    }

    .download__subtitle {
      font-size: 1rem;
    }

    .button {
      padding: 20px 40px;
    }
  }

  @media (max-width: 386px) {
    .download__title {
      font-size: 1.125rem;
    }

    .download__subtitle {
      font-size: 0.8125rem;
    }
    .button {
      padding: 10px 20px;
    }

    .container {
      padding: 0 20px;
    }

    padding-bottom: 45px;
  }
}

.download__title {
  color: $black;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 25px;
}

.download__subtitle {
  color: $black;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 50px;
}
