.footer {
  background-color: #353c65;

  @media (max-width: 1120px) {
    .container {
      max-width: 984px;
    }

    .footer-top__heading {
      font-size: 0.875rem;
      text-align: center;
    }

    .footer-top__desc {
      font-size: 0.875rem;
    }

    .footer-bottom__text {
      font-size: 0.875rem;
    }

    .social-link {
      width: 33px;
      height: 33px;
    }
  }

  @media (max-width: 850px) {
    .footer-top-wrap {
      flex-direction: column;
    }

    .footer-top__info {
      margin: 0 auto;
      margin-right: 0;
      margin-left: 0;
    }

    .footer-top__links {
      margin: 0 auto;
      margin-right: 0;
      margin-left: 0;
      margin-top: 69px;
    }

    .footer-top__heading {
      margin-bottom: 34px;
      text-align: center;
    }

    .footer-top__desc {
      margin-bottom: 69px;
      margin: 0 auto;
    }

    .footer-top__socials {
      margin-bottom: 59px;
      justify-content: center;
    }

    .about {
      margin-bottom: 0;
      margin: 0 auto;
    }
  }
}

.footer-top__heading {
  color: $white;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 29px;
  text-align: center;
}

.footer-top__desc {
  color: $white;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 21px;
}

.footer-top__socials {
  display: flex;
  margin-top: 48px;
  justify-content: center;
}

/*.social-link:not(:last-child) {
  margin-right: 27px;
}*/

.footer-top-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-top {
  padding-bottom: 67px;
  padding-top: 71px;
}

.footer-top__info {
  text-align: center;
}

.footer-top__desc:nth-child(2) {
  max-width: 370px;
}

.footer-bottom {
  background-color: #2c3154;
}

.footer-bottom__text {
  color: #808080;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 21px;
}

.footer-bottom__text {
  span {
    color: $white;
  }
  margin: 0 auto;
  text-align: center;
  max-width: 370px;
}

.footer-bottom {
  @media (max-width: 850px) {
    padding: 29px 20px;
  }
}

.footer-bottom {
  padding: 24px 0;
}

.footer-top__socials {
  .social-link {
    margin-right: 27px;
  }
}

.social-link:last-child {
  margin-right: 0;
}
