.section {
  padding-bottom: 159px;

  @media (max-width: 1100px) {
    .swiper-slide__desc {
      font-size: 1.5rem;
    }

    .swiper-slide__copy {
      font-size: 0.75rem;
    }
  }

  @media (max-width: 970px) {
    .swiper-slide-wrap {
      flex-direction: column;
      .swiper-slide__img {
        width: 100%;
      }
    }

    .swiper-slide__info {
      width: 100%;
    }

    .swiper-slide__copy {
      margin-bottom: 95px;
    }

    padding-bottom: 67px;

    .swiper-slide__info {
      padding-top: 25px;
    }
  }

  @media (max-width: 490px) {
    .swiper-slide__desc {
      max-width: 275px;
    }
  }
}

.swiper-slide-wrap {
  display: flex;
  width: 100%;
}

.swiper-slide__img {
  width: 50%;
}

.swiper-slide__img img {
  width: 100%;
  height: 100%;
}

.swiper-slide__info {
  width: 50%;
  background-color: #5c3249;
}

.swiper-slide__desc {
  font-family: "Cardo";
  color: $white;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 48px;
  max-width: 471px;
  margin-bottom: 20px;
}

.swiper-slide__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide__copy {
  color: $white;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 15px;
}

.swiper {
  width: 100%;
  height: 100%;
}
